/*  your css code here. If applicable */

.blue {
	color: blue
}

#heading {
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	width: 100%;
	height: 1.5em;
}

button#submit {
	background: blue;
	color: white;
	width: 6rem;
	height: 2rem;
	border: none;
	border-radius: 0.3rem;
	margin-top: 1rem;
	cursor: pointer;
}

button#submit:active {
	transform: scale(0.95);
	transition: scale 0.9 ease linear;
}

table {
	margin-top: 2rem;
    border-collapse: collapse; 
	width: 100%; 
}

th, td {
	text-align: left;
	padding: 8px;
}

th {
	background-color: white;
	border-bottom: 3px solid black;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:nth-child(odd) {
	background-color: #e6e6e6;
}

.delete {
	cursor: pointer;
	background-color:red;
	color: white;
	border: none;
}

